<div>
  <div class="links">
    <div class="one">
      <a href="http://wbfin.nic.in/New_Fin/HomePage.aspx">
        <h3>
          West Bengal State Emergency Relief Fund
        </h3></a>
        <p>The West Bengal Government appeals ALL to contribute in West Bengal State Emergency
           Relief Fund and assist the State Government in prevention and control of situation arising
            out of unforeseen emergencies</p>
    </div>
    <div class="two">
      <a href="https://www.facebook.com/HumansOfPatuli">
        <h3>
          Humans of Patuli --NGO
        </h3>
        </a>
        <p>This South Kolkata-based community platform is supporting
          Amphan survivors including the underprivileged people also affected by the lockdown.
          Contact number – Utsarjana Mutsuddi: 9836302826</p>
    </div>
    <div class="three">
      <a href="https://ebongalap.org/">
        <h3>
          Ebong Alap --NGO
        </h3></a>
        <p>This NGO is organising relief in the affected regions of Sundarbans. 
          Contact number – Sarmistha Dutta Gupta: +91 85828 74273
        </p>
    </div>
  </div>
</div>

<hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
