<div class="container">
  <h2>
    <span>Four Stage Warning</span>
  </h2>
  
  <p>The cyclone warnings are issued to state government officials in four stages. The <strong>First Stage </strong>warning known as <strong>"PRE CYCLONE WATCH" </strong>issued 72 hours in advance contains early warning about the development of a cyclonic disturbance in the north Indian Ocean, its likely intensification into a tropical cyclone and the coastal belt likely to experience adverse weather. This early warning bulletin is issued by the Director General of Meteorology himself and is addressed to the Cabinet Secretary and other senior officers of the Government of India including the Chief Secretaries of concerned maritime states.</p>
  <p>The <strong>Second Stage </strong>warning known as <strong>"CYCLONE ALERT" </strong>is issued at least 48 hrs. in advance of the expected commencement of adverse weather over the coastal areas. It contains information on the location and intensity of the storm likely direction of its movement, intensification, coastal districts likely to experience adverse weather and advice to fishermen, general public, media and disaster managers. This is issued by the concerned ACWCs/CWCs and CWD at HQ.</p>
  <p>The <strong>Third Stage </strong>warning known as <strong>"CYCLONE WARNING" </strong>issued at least 24 hours in advance of the expected commencement of adverse weather over the coastal areas. Landfall point is forecast at this stage. These warnings are issued by ACWCs/CWCs/and CWD at HQ at 3 hourly interval giving the latest position of cyclone and its intensity, likely point and time of landfall, associated heavy rainfall, strong wind and storm surge alongwith their impact and advice to general public, media, fishermen and disaster managers.</p>
  <p>The <strong>Fourth Stage </strong>of warning known as <strong>"POST LANDFALL OUTLOOK" </strong>is issued by the concerned ACWCs/CWCs/and CWD at HQ at least 12 hours in advance of expected time of landfall. It gives likely direction of movement of the cyclone after its landfall and adverse weather likely to be experienced in the interior areas.</p>
  <p>Different colour codes as mentioned below are being used since post monsoon season of 2006 the different stages of the cyclone warning bulletins as desired by the National Disaster Management.</p>
  <table class="tableData" width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody>
  <tr><th style="text-align: center;">Stage of warning</th><th style="text-align: center;">Colour code</th></tr>
  <tr>
  <td style="text-align: center;">Cyclone Alert</td>
  <td style="text-align: center;">Yellow.</td>
  </tr>
  <tr>
  <td style="text-align: center;">Cyclone Warning</td>
  <td style="text-align: center;">Orange.</td>
  </tr>
  <tr>
  <td style="text-align: center;">Post landfall out look</td>
  <td style="text-align: center;">Red.</td>
  </tr>
  </tbody>
  </table>
  <p>During disturbed weather over the Bay of Bengal and Arabian Sea, the ports likely to be affected are warned by concerned ACWCs/CWCs by advising the port authorities through port warnings to hoist appropriate Storm Warning Signals. The Department also issues <strong>"Fleet </strong><strong>Forecast" </strong>for Indian Navy, Coastal Bulletins for Indian coastal areas covering up to 75 km from the coast line and sea area bulletins for the sea areas beyond 75 km. The special warnings are issued for fishermen four times a day in normal weather and every three hourly in accordance with the four stage warning in case of disturbed weather.</p>
  <p>The general public, the coastal residents and fishermen are warned through State Government officials and broadcast of warnings through All India Radio and National Television (Doordarshan) telecast programmes in national and regional hook-up. A system of warning dissemination for fishermen through World Space Digital Based radio receivers is being planned.</p>
  
</div>
