<div class="org-box">
    <div class="organization-signup">Are you work in any Organization?</div>
        <div class="org-btn">
          <nav>
            <a routerLink="/org-signup">click here for sign up!</a>
          </nav>
    </div>
</div>

        
<div id="login-box">
    <div class="left">
      <div class="signupform" *ngIf="!submitted">
        <h1>Sign up</h1>
      
        <input type="text" name="firstname" placeholder="First Name" [(ngModel)]="user.firstname" />
        <input type="text" name="lastname" placeholder="Last Name" [(ngModel)]="user.lastname" />
        <input type="text" name="phone" placeholder="Phone no." [(ngModel)]="user.phone" />
        <input type="text" name="email" placeholder="E-mail" [(ngModel)]="user.email" />
        <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password" />
        <input type="password" name="password2" placeholder="Retype password" />
        <input type="text" name="address" placeholder="Address" [(ngModel)]="user.address" />
        <input type="number" min="18" max="999999" name="pincode" placeholder="Enter your pincode" [(ngModel)]="user.pincode" />
        
        <input type="button" name="signup_submit" value="Sign me up" (click)="saveUser()" />
      </div>

      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newUser()">Go Back</button>
      </div>
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>
  <router-outlet></router-outlet>