<div class="orgbox">
    <div class="organization-signup">Do you work in any Organization?</div>
        <div class="click">
          <nav>
            <a routerLink="/org-signup">click here for sign up!</a>
          </nav>
    </div>
</div>

        
<div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      <input type="integer" name="pincode" placeholder="Enter your pincode" />
      
      <input type="submit" name="signup_submit" value="Sign me up" />
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>
  <router-outlet></router-outlet>