<div class="nav-container">
    <div class="wrapper">
      <nav>
        <div class="logo">
          crt
        </div>

        <ul class="nav-items">
          <li>
            <a href="#">About us</a>
          </li>

          <li>
            <a href="#">Information & Maps</a>
          </li>

          <li>
            <a href="#">Donate</a>
          </li>

          <li>
            <a href="#">Alert & Warning</a>
          </li>

          <li>
            <a href="#">Log in</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>