.container {
  margin-top: 250px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 200px;
  background: rgba(196, 196, 196, 0.22);
}

.container.emr {
  position: fixed;
  left: 737px;
  top: 205px;
}
