<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>welcome</title>
  <link rel="stylesheet" href="homePage.component.css" />
</head>
<body>
 
  <div class="nav-container">
    <div class="wrapper">
      <nav>
        <div class="logo">
          crt
        </div>

        <ul class="nav-items">
          <li>
            <a href="#">About us</a>
          </li>

          <li>
            <a href="#">Information & Maps</a>
          </li>

          <li>
            <a href="#">Donate</a>
          </li>

          <li>
            <a href="#">Alert & Warning</a>
          </li>

          <li>
            <a href="#">Log in</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <script src="main.ts"></script>
</body>
</html>