.container {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 200px;
  background: rgba(196, 196, 196, 0.22);
}

#container.emr {
  position: absolute;
  left: 1137px;
  top: 205px;
}
