
#aboutus {
    background: #fff;
    padding: 80px 0;
  }
  
 
  #aboutus .maincontent .content {
    background: #fff;
  }
  
  #aboutus .maincontent .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
  
  @media (max-width: 768px) {
    #aboutus .maincontent .title {
      padding-top: 15px;
    }
  }
  
  #about .about-container p {
    line-height: 26px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
  .smallcontent .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #2dc997;
    font-size: 50px;
  }
  
  .smallcontent .icon-box2 .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #2dc997;
    font-size: 40px;
  }
  
  .smallcontent .icon-box3 .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #2dc997;
    font-size: 50px;
  }
  
  
  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }

#aboutus .maincontent{
  padding-right: 100%;
  position: absolute;
  width: 1439px;
  height: 313px;
  left: 0px;
  top: 366px;
  background: rgba(196, 196, 196, 0.22);
}