<div class="aboutus">
  <div class="maincontent">
      <h2 class="title">Few Words About Us</h2>
        <p>
          We are a friend to help you when cyclone will knock your door and you need to be saved,
          We are a family who will lead you to your safest place when there are no one to help.
          We are a carrier to carry you to the hospital when have lost every hope.
          We are here to help,to save, to be a piller of you when cyclones on their way. </p>
  </div>
  <div class="smallcontent">
    <div class="icon-box" data-wow-delay="0.2s">
      <div class="icon"><i class="fa fa-running"></i></div>
      <h4 class="title"><a routerLink="../emergency">Response Team Support</a></h4>
      <p class="description">We help to connect the Emergency Suppport team during the disaster </p>
    </div>

    <div class="icon-box2" data-wow-delay="0.2s">
      <div class="icon"><i class="fa fa-map"></i></div>
      <h4 class="title"><a href="../maps">Map Support for better understanding</a></h4>
      <p class="description">Maps for safe houses in kolkata during cyclone, Earth wind map and Flood risk zones in kolkata</p>
    </div>

    <div class="icon-box3" data-wow-delay="0.4s">
      <div class="icon"><i class="fa fa-clipboard"></i></div>
      <h4 class="title"><a routerLink="../newsPage">News about Cyclone</a></h4>
      <p class="description">Read lateast news on cyclone in kolkata and be up to date</p>
    </div>
  </div>
</div>

<section class="background-dark full-width">
  <!-- Map -->
  <div class="s-12 m-12 l-6 margin-m-bottom-2x">
    <div class="s-12 grayscale center">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ZZb7IpN4b1GvsY4C9lGm21dVsAFrGA4i" width="1518" height="480"></iframe>
        
    </div>
  </div>

 
    <div class="E-mail">
          <h6>e-mail</h6>
          <p>kar95shreya@gmail<br>
            19070241046@sig.ac.in
          </p>
    </div>
    <div class="Phone-no">
      <h6>Phone Numbers</h6>
          <p>+91-8981872074<br>
            +91-7278424588
          </p>
    </div>
</section>
<hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">


   