
  <div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      <input type="integer" name="pincode" placeholder="Enter your pincode" />
      
      
    </div>
    
    <div class="right">
      <input type="text" name="organization-type" placeholder="Organization-Type" />
      <input type="text" name="organization-name" placeholder="Organization-Name" />
      <input type="interger" name="ward-no" placeholder="Enter organization Ward-No" />
      <input type="integer" name="pincode" placeholder="Enter organization pincode" />
      <input type="text" name="position" placeholder="Your Position in Organization" />
      

      <input type="submit" name="signup_submit" value="Sign me up" />
    </div>
    <div class="or">ANd</div>
  </div>

