
  <div id="login-box">
    <div class="left">
      <h1>Sign up</h1>

         
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      <input type="integer" name="pincode" placeholder="Enter your pincode" />
      
      
    </div>
    
    <div class="right">
      <div class="orgtype">
        <nav>
          <ul>
            <li>Organization Type</li>
              <ul>
                <li><a href="#">Police</a></li>
                <li><a href="#">Fire brigade</a></li>
                <li><a href="#">Ambulance</a></li>
                <li><a href="#">Other</a></li>
              </ul>
            <li><input type="text" name="organization-name" placeholder="Organization-Name" /></li>
            <li><input type="text" name="position" placeholder="Your Position in Organization" /></li>
            <li><input type="interger" name="ward-no" placeholder="Enter organization Ward-No" /></li>
            <li><input type="integer" name="pincode" placeholder="Enter organization pincode" /></li>
          </ul>
        </nav>
      </div>
      
      <input type="submit" name="signup_submit" value="Sign me up" />
    </div>
    <div class="and">&</div>

    
  </div>

