  <div class="outer">
    <h2>All headlines about cyclone in West Bengal</h2>
    <article>
      <h3>There is nothing left - at least 80 killed by Amphan -- CP24</h3>
      <section>
        <p>
          Wide swaths of coastal India and Bangladesh were flooded and millions were without power Thursday as 
          Cyclone Amphan, the most powerful storm to hit the region in
          more than a decade, killed over 80 people and cut a path of destruction that is still being assessed.
          Many parts of the Indian metropolis of Kolkata, home to more than 14 million people, were under 
          water, and its airport was closed briefly by flooding. Roads were littered with uprooted trees
          and lamp posts, electricity and communication lines were down and centuries-old buildings were 
          damaged....<a class="continue" href="https://www.cp24.com/world/there-is-nothing-left-at-least-80-killed-by-cyclone-that-struck-india-bangladesh-1.4948498">Continue Reading</a>
        </p>

        <img src="../assets/images/effect.jpg" alt="cyclone effect">
        <br>
        <br>

        <h3>Army Sends Troops As Bengal Asks For Help Dealing With Amphan Aftermath - NDTV</h3>

        <p>
          The Indian Army today provided three columns to assist Kolkata City authorities deal with the
          aftermath of Cyclone Amphan, one of the worst storms to have formed over the Bay of Bengal in
          recent years. Two more were sent to North and South 24 Paraganas districts, according to news agency PTI.
          This was after the Bengal Home Department tweeted saying it had requested Army support.
          In a series of tweets this evening, the Home Department called for mobilisation of 
          "maximum strength... on 24x7 basis" for essential services like drinking water, sanitation and power supply....
          <a class="continue" href="https://www.ndtv.com/india-news/cyclone-amphan-kolkata-news-army-helps-in-kolkata-but-protests-smoulder-in-cyclone-battered-bengal-2234446">Continue Reading</a>
        </p>

        <h3>20 May cyclone Amphan hit the west bengal - CNN</h3>

        <p>
          All about the cyclone Amphan...<a class="continue" href="https://edition.cnn.com/asia/live-news/live-updates-cyclone-amphan-intl-hnk/index.html">Continue Reading</a>
        </p>

        <h3>Amphan: Kolkata devastated as cyclone kills scores in India and Bangladesh - BBC NEWS</h3>

        <p>
        The eastern Indian city of Kolkata has been devastated by a powerful cyclone which has killed at least 84 people across India and Bangladesh.
        Amphan made landfall on Wednesday, lashing coastal areas with ferocious wind and rain. The storm is weakening as it moves north into Bhutan.
        Thousands of trees were uprooted in the gales, electricity and telephone lines brought down and houses flattened....
        <a class="continue" href="https://www.bbc.com/news/world-asia-india-52749935">Continue Reading</a>
        </p>

        <h3>Cyclone Fani: Indians shelter from powerful storm - BBC</h3>

        <p>
        A powerful cyclone has slammed into India's eastern coastline, bringing torrential rains and winds of up to 200 km/h (125mph).
        Cyclone Fani, one of the most severe storms to hit the region in recent years, made landfall at 08:00 local time (02:30 GMT) on Friday...
        <a class="continue" href="https://www.bbc.com/news/world-asia-india-48121606">Continue Reading</a>
        </p>
    </section>
    </article>
  </div>
  