.parent.right {
    column-count: 2;
    display: flexbox;
}
.right .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #45a29e;
    font-size: 40px;
    color:  #1f2833;
}

.right .icon-box5 .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #45a29e;
    font-size: 40px;
    color:  #1f2833;
}

.right .icon-box1 .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #45a29e;
    font-size: 40px;
    color:  #1f2833;
}


.right .icon-box2 .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #45a29e;
    font-size: 40px;
    color:  #1f2833;
}



.left .icon-box .icon{
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #45a29e;
    font-size: 40px;
    color:  #1f2833;

}
