<div class="parent">
  
    <div class="right">
      <div class="icon-box" data-wow-delay="0.2s">
        <div class="icon"><i class="fa fa-wind"></i></div>
        <h3 class="title"><a href="https://earth.nullschool.net/#current/wind/surface/level/orthographic=71.57,16.65,285/loc=-150.464,43.598">Earth Wind Map</a></h3>
        <p>See current wind, weather, ocean, and pollution conditions, as forecast by supercomputers, on an interactive animated map...It is a visualization of global
           weather conditions forecast by supercomputers updated every three hours ocean surface current estimates updated every five days ocean surface temperatures 
           and anomaly from daily average (1981-2011) updated daily ocean waves updated every three hours aurora updated every thirty minutes.
        </p>
      </div>
      <br>
      <div class="icon-box5" data-wow-delay="0.2s">
        <div class="icon"><i class="fa fa-house-user"></i></div>
        <h3 class="title"><a href="https://www.google.com/maps/d/u/0/embed?mid=1B0KNk577xl729cEsxu6FE_-kgBpmg1vD">safe houses in kolkata</a></h3>
        <p>Showing various safest place during the cyclone where people can take shelter. Also can find route of the nearest safe house from your live location. It also
          show you ward number wise safe house existing in the city region.
        </p>
      </div>
      <br>
      <div class="icon-box2" data-wow-delay="0.2s">
        <div class="icon"><i class="fa fa-layer-group"></i></div>
        <h3 class="title">
          <a routerLink="../floodzone"> Flood zone map of kolkata</a></h3>
          <p>This map showing the flood prone zones in kolkata after doing analysis in ArcGIS. There are five zonal division for hing risk zone to low risk zone. This is a 
            static page of map where zonal representation only took place.
          </p>
    </div>
      <br>
      <br>
    
    <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
  
</div>
