header {
  height: 100px;
}

header .wrapper {
  width: 20%;
  float: left;
  padding-left: 20px;
}

header .search-box {
  width: 20%;
  float: left;
  text-align: right;
  margin-top: 25px;
}

header .search-box i {
  position: relative;
  left: -25px;
  color: #45a29e;
}

header .search-box input {
  background: none;
  border: 2px solid #45a29e;
  color: #c5c6c7;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: -2px;
}

header .search-box input::placeholder {
  color: #c5c6c7;
}

header .routing-pages {
  width: 55%;
  float: right;
  text-align: right;
  margin-top: 25px;
  padding-right: 20px;
}

header .routing-pages a {
  color: #1f2833;
  padding: 5px 8px;
  border: 2px solid #45a29e;
  border-radius: 4px;
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
}

header .routing-pages a:hover {
  color: #1f2833;
  background-color: #45a29e;
}

footer {
  margin-bottom: 20px;
  height: 35px;
  padding: 0 20px;
}

footer .social-icons {
  float: left;
}

footer .social-icons .social-text {
  display: inline-block;
  margin-right: 10px;
}

footer .social-icons a {
  background-color: #45a29e;
  border-radius: 50%;
  padding: 5px 8px;
  color: #1f2833;
  display: inline-block;
  margin-right: 5px;
}

footer .footer-menu {
  float: right;
  text-align: right;
}

footer .footer-menu a {
  color: #1f2833;
  display: inline-block;
  margin-right: 10px;
}
