<header>
  <div class="wrapper">
      <div class="logo">
        <a routerLink="/"><img src="../assets/images/logo crt.svg" alt="CRT" /></a>
      </div>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Search here..." />
    <i class="fas fa-search"></i>
  </div>
  
  <nav class="routing-pages">
    <a routerLink="/about">About Us</a>
    <a routerLink="/donation">Donate</a>
    <a routerLink="/newsPage">News Feed</a>
    <a routerLink="/maps">Maps</a>
    <a routerLink="/alertwarning">Alert & Warning</a>
    <a routerLink="/signIn">Sign In</a>
  </nav>
</header>


<router-outlet></router-outlet>


<footer>
  <div class="social-icons">
    <span class="social-text">Follow us on</span>
    <a href="#">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fab fa-facebook"></i>
    </a>
  </div>

  <div class="footer-menu">
    <a href="#">Quick Links</a>
    <a href="#">Contact Us</a>
  </div>
</footer>