<div class="emergency">
  <div id="helpbox">
    <h1>Emergency<br>Service</h1>
      
      <input type="text" name="username" placeholder="Username" />
      <input type="integer" name="pincode" placeholder="Enter your pincode" />
      <input type="integer" name="no-of-people" placeholder="How many people there?" />
      <input type="text" name="organization-type" placeholder="Organization-Type" />
      <input type="text" name="organization-name" placeholder="Organization-Name" />
      

      <input type="submit" name="submit" value="Submit" />
    
  
  </div>
</div>
