<div class="plan">
  <div class="do">
    <h2>Do</h2>
    <ul>
      <li>Check houses, secure loose tiles by cementing wherever necessary, repair doors and windows.</li>
      <li>Check the area around the house. Remove dead or dying trees, anchor removable objects like lumber piles, loose bricks, garbage cans, sign-boards, loose zinc sheets etc.</li>
      <li>Keep some wooden boards ready so that glass windows can be boarded.</li>
      <li>If you do not have wooden boards handy, paste paper strips on glasses to prevent splinters flying into the house.</li>
      <li>Keep a hurricane Lantern filled with kerosene, flash light and enough dry cells and keep them handy.</li>
      <li>Promptly demolish condemned buildings.</li>
      <li>Those who have radio sets should ensure that the radio is fully serviceable. In the case of transistors an extra set of batteries should be kept handy.</li>
      <li>Keep your radio on and listen to latest weather warnings and advisories from the nearest AIR station. Pass the information to others.</li>
      <li>Pass only the official information you have got from the radio to others.</li>
      <li>Get away from low lying beaches or other locations which may be swept by high tides or storm waves. Leave sufficiently early before your way to high ground gets flooded. Do not delay and run the risk of being marooned.</li>
      <li>If your house is out of danger from high tides and flooding from the river, and it is well built, it is then probably the best place. However, please act promptly if asked to evacuate.</li>
      <li>Be alert for high water in areas where streams of rivers may flood due to heavy rains.</li>
      <li>Get extra food, especially things which can be eaten without cooking or with very little preparation. Store extra drinking water in suitably covered vessel.</li>
      <li>If you are in one of the evacuation areas, move your valuable articles to upper floors to minimise flood damage</li>
      <li>Check on everything that might blow away or be torn loose. Kerosene tins, cans, agricultural implements, garden tools, road signs and other objects become weapon of destruction in strong winds. Remove them and store them in a covered room.</li>
      <li>Be sure that a window or door can be opened on the lee side of the house i.e. the side opposite the one facing the wind.</li>
      <li>Make provisions for children and adults requiring special diets.</li>
      <li>If the centre of' ‘eye' of the storm passes directly over your place, there will be a lull in the wind and rain, lasting for half an hour or more. During this period stay in safe place. Make emergency repairs during the lull period if necessary, but remember that strong wind will return suddenly from the opposite direction, frequently with even greater violence.</li>
      <li>Be calm. Your ability to meet emergency will inspire and help others.</li>
      <li>You should remain in shelters until informed by those in charge that you may return home.</li>
      <li>Any loose and dangling wire from the lamp post should be strictly avoided.</li>
      <li>People should keep away from disaster areas unless you are required to assist.</li>
      <li>Anti-social elements should be prevented from doing mischief and reported to the police.</li>
      <li>Cars, buses, lorries and carts should be driven carefully.</li>
      <li>The houses and dwellings should be cleared of debris</li>
      <li>The losses should be reported to the appropriate authorities.</li>
      <li>Relatives should be promptly informed about the safety of persons in the disaster area.</li>
    </ul>
      
  </div>
  <div class="don't">
    <h2>Don't</h2>
    <ul>
      <li>Avoid being misled by rumours.</li>
      <li>Don’t leave shelters until informed by the rescue personals.</li>
      <li>Don’t leave the safer place during lull, however minor repairs can be carried out.</li>
      <li>Don’t touch the loose and dangling wire from lamp post, it may have electric current.</li>
    </ul>
  </div>
</div>